.number {
	align-items: center;
	border: 1px solid var(--theme-color);
	border-radius: 72px;
	color: var(--theme-color);
	cursor: pointer;
	display: flex;
	font-size: 32px;
	height: 72px;
	justify-content: center;
	transition: background-color 0.5s linear, border-color 0.5s linear, color 0.5s linear;
	width: 72px;
}

.number:hover {
	background-color: var(--theme-color);
	color: black;
}

.number:last-of-type {
	grid-column: 2;
}
