.square {
	align-items: center;
	background-color: transparent;
	border: 2px solid rgb(253, 130, 237);
	box-shadow: 0 0 5px 5px rgba(253, 73, 229, 0.5), 0 0 5px 5px rgba(253, 73, 229, 0.5) inset;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: flex;
	font-size: 7vh;
	height: 8vh;
	justify-content: center;
	transform-origin: center;
	transition: transform 0.5s linear;
	width: 8vh;
}

.square:not(.prefilled) {
	text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.5);
}

.square:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.square.selected {
	border-color: white;
	border-width: 4px;
	transform: scale(1.2);
	z-index: 101;
}

.thirdColumn {
	margin-right: 10px;
}

.thirdRow {
	margin-bottom: 10px;
}

.prefilled {
	color: rgba(253, 73, 229, 0.6);
	pointer-events: none;
}
