.container {
	font-size: 2vh;
	text-align: right;
}

.container a {
	color: var(--theme-color);
	font-weight: bold;
	text-decoration: none;
	transition: color 0.5s linear;
}

.container a:hover {
	color: white;
}
