body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--blue-glow: #00cbff80;
	--blue-theme: #00ccff;

	--green-glow: #00ff0080;
	--green-theme: #00ff00;

	--pink-glow: #fd49e580;
	--pink-theme: #fd82ed;

	--yellow-glow: #ffff0080;
	--yellow-theme: #ffff00;
}

button {
	all: inherit;
}

button:focus {
	outline: none;
}
