body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
	--blue-glow: #00cbff80;
	--blue-theme: #00ccff;

	--green-glow: #00ff0080;
	--green-theme: #00ff00;

	--pink-glow: #fd49e580;
	--pink-gradient: linear-gradient(
		180deg,
		rgba(85, 37, 117, 1) 0%,
		rgba(54, 10, 87, 1) 64%,
		rgba(147, 39, 132, 1) 100%
	);
	--pink-theme: #fd82ed;

	--yellow-glow: #ffff0080;
	--yellow-theme: #ffff00;
}

button {
	all: inherit;
}

button:focus {
	outline: none;
}
